body {
    background-color: #591810;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
button {
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    padding: 7px;
    background-color: #BF4D11;
    border: 5px black;
    border-radius: 5px;
}

